.row {
    margin-left: 20px;
    color: #fff;

}

.posters {
    display: flex;
    padding: 20px;
    overflow-x: scroll;
    overflow-y: hidden;
}

.posters::-webkit-scrollbar {
    display: none;
}

.poster {
    max-height: 300px;
    margin-right: 10px;
    cursor: pointer;
}

.smallPoster {
    max-height: 250px;
    margin-right: 10px;
    cursor: pointer;
}

.poster:hover{
    transform: scale(1.1);
    margin-left: 10px;
    margin-right: 10px;
}
.smallPoster:hover{
    transform: scale(1.1);
    margin-left: 5px;
    margin-right: 5px;
}

 